<%- include ('global/header', {title:name});  %>

<body>
  <header>
    <h1><%=name%></h1>
  </header>
  <section id="country-stats">
  <h2>Stats</h2>
  <ul>
    <li>1960: <%=stats.("1960")%></li>
    <li>1961: <%=stats.("1961")%></li>
    

  </ul>
  </section>

  <%- include ('global/footer');  %>

</body>
