<%- include ('global/header', {title:country});  %>

<body>
  <header>
    <h1>Suicides per Population</h1>
  </header>
  <section id="country-table">
    <table>
      <tr>
        <th>Country</th>
        <th>Year</th>
        <th>Frequency</th>
      </tr>
      <% for(country in data){ %>
      <tr>
        <td><a href="<%=data[country].link%>.html"><%= country %></a></td>
        <td>
          <% if (data[country].year.length > 0){ %>
          <ol>
            <% data[character].skills.forEach(function(val){%>
              <td><%= data[country].year %></td>
              <td><%= data[country].frequency %></td>
            <li> <%=val%></li>
            <%}) %>
          </ol>
          <%}%>
        </td>
      </tr>
      <%}%>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
