<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Suicides per population</title>
  <meta name="author" content="You">
  <meta name="description" content="Suicides per Population">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1>Suicides per Population</h1>
  </header>
  <section id="country-table">
    <table>
      <tr>
        <th>Country</th>
        <th>Year</th>
        <th>Frequency</th>
      </tr>
      <% for(country in data){ %>
      <tr>
        <td><a href="<%=data[country].link%>.html"><%= country %></a></td>
        <td><%= data[country].year %></td>
        <td><%= data[character].frequency %></td>
      </tr>
      <%}%>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
