<%- include ('global/header', {title:country});  %>

<body>
  <header>
    <h1>Suicides per Population</h1>
  </header>
  <section id="country-table">
    <table>
      <tr>
        <th>Country</th>
        <th>1960</th>
        <th>1961</th>
        <th>1962</th>
        <th>1963</th>
        <th>1964</th>
        <th>1965</th>
        <th>1966</th>
        <th>1967</th>
        <th>1968</th>
        <th>1969</th>
        <th>1970</th>
        <th>1971</th>
        <th>1972</th>
        <th>1973</th>
        <th>1974</th>
        <th>1975</th>
        <th>1976</th>
        <th>1977</th>
        <th>1978</th>
        <th>1979</th>
        <th>1980</th>
        <th>1981</th>
        <th>1982</th>
        <th>1983</th>
        <th>1984</th>
        <th>1985</th>
        <th>1986</th>
        <th>1987</th>
        <th>1988</th>
        <th>1989</th>
        <th>1990</th>
        <th>1991</th>
        <th>1992</th>
        <th>1993</th>
        <th>1994</th>
        <th>1995</th>
        <th>1996</th>
        <th>1997</th>
        <th>1998</th>
        <th>1999</th>
        <th>2000</th>
        <th>2001</th>
        <th>2002</th>
        <th>2003</th>
        <th>2004</th>
        <th>2005</th>
        <th>2006</th>
        <th>2007</th>
        <th>2008</th>
        <th>2009</th>
        <th>2010</th>
        <th>2011</th>
        <th>2012</th>
        <th>2013</th>
        <th>2014</th>
        <th>2015</th>
        <th>2016</th>
        <th>2017</th>
        <th>2018</th>
        <th>2019</th>
        <th>2020</th>
      </tr>
      <% for(country in data){ %>
      <tr>
        <td><a href="<%=data[country].link%>.html"><%= country %></a></td>
        <td><%= data[country].sixty %></td>
        <td><%= data[country].sixtyOne %></td>
        <td><%= data[country].sixtyTwo %></td>
        <td><%= data[country].sixtyThree %></td>
        <td><%= data[country].sixtyFour %></td>
        <td><%= data[country].sixtyFive %></td>
        <td><%= data[country].sixtySix %></td>
        <td><%= data[country].sixtySeven %></td>
        <td><%= data[country].sixtyEight %></td>
        <td><%= data[country].sixtyNine %></td>
        <td><%= data[country].seventy %></td>
        <td><%= data[country].seventyOne %></td>
        <td><%= data[country].seventyTwo %></td>
        <td><%= data[country].seventyThree %></td>
        <td><%= data[country].seventyFour %></td>
        <td><%= data[country].seventyFive %></td>
        <td><%= data[country].seventySix %></td>
        <td><%= data[country].seventySeven %></td>
        <td><%= data[country].seventyEight %></td>
        <td><%= data[country].seventyNine %></td>
        <td><%= data[country].eighty %></td>
        <td><%= data[country].eightyOne %></td>
        <td><%= data[country].eightyTwo %></td>
        <td><%= data[country].eightyThree %></td>
        <td><%= data[country].eightyFour %></td>
        <td><%= data[country].eightyFive %></td>
        <td><%= data[country].eightySix %></td>
        <td><%= data[country].eightySeven %></td>
        <td><%= data[country].eightyEight %></td>
        <td><%= data[country].eightyNine %></td>
        <td><%= data[country].ninety %></td>
        <td><%= data[country].ninetyOne %></td>
        <td><%= data[country].ninetyTwo %></td>
        <td><%= data[country].ninetyThree %></td>
        <td><%= data[country].ninetyFour %></td>
        <td><%= data[country].ninetyFive %></td>
        <td><%= data[country].ninetySix %></td>
        <td><%= data[country].ninetySeven %></td>
        <td><%= data[country].ninetyEight %></td>
        <td><%= data[country].ninetyNine %></td>
        <td><%= data[country].zero %></td>
        <td><%= data[country].one %></td>
        <td><%= data[country].two %></td>
        <td><%= data[country].three %></td>
        <td><%= data[country].four %></td>
        <td><%= data[country].five %></td>
        <td><%= data[country].six %></td>
        <td><%= data[country].seven %></td>
        <td><%= data[country].eight %></td>
        <td><%= data[country].nine %></td>
        <td><%= data[country].ten %></td>
        <td><%= data[country].eleven %></td>
        <td><%= data[country].twelve %></td>
        <td><%= data[country].thirteen %></td>
        <td><%= data[country].fourteen %></td>
        <td><%= data[country].fifteen %></td>
        <td><%= data[country].sixteen %></td>
        <td><%= data[country].seventeen %></td>
        <td><%= data[country].eighteen %></td>
        <td><%= data[country].nineteen %></td>
        <td><%= data[country].twenty %></td>
      </tr>
      <%}%>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>
